pipeline/foreach.json
{
	"name": "foreach",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_adf_container_userprofiles_raw",
						"type": "DatasetReference"
					},
					"fieldList": [
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Iterate over files and append to variable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata').output.size",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append to array",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "List of files",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Print Output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Iterate over files and append to variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Ouptut",
					"value": {
						"value": "@variables('List of files')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"List of files": {
				"type": "Array"
			},
			"Ouptut": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Control Flow Activity"
		},
		"annotations": []
	}
}